.about {
  padding-top: 7em;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-name {
  font-size: 2em;
}
.about-picture {
  padding-top: 0.9em;
  width: 300px;
}
.about-description {
  font-size: 1.5em;
  text-align: center;
  width: 800px;
}

@media screen and (max-width: 960px) {
  .about-description {
    width: auto;
    text-align: center;
  }
}
