.project-container {
  padding-bottom: 3em;
}

.project-poster {
  padding-top: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.project-img {
  width: 25em;
  position: relative;
  margin: auto;
}

.project-info {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  z-index: 100;
  transition: all 0.4s ease-in-out;
}
.project-info:hover {
  opacity: 5;
}

.project-img > img {
  height: 37.5em;
  width: 25em;
}

.project-img:hover {
  transform: scale(1.05);
  z-index: 3;
}

.project-dev-tools {
  padding: 0.5em;
  text-align: center;
}
.project-text {
  height: 25em;
  width: 25em;
  background-color: rgba(0, 0, 0, 0.7);
}
.project-title {
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

.project-describe {
  padding: 1em;
}
.project-dev img {
  display: inline-block;
  padding: 1em;
}
.project-dev {
  height: 12.5em;
  background-color: rgba(99, 94, 94, 0.925);
}

@media (max-width: 1500px) {
  .project-poster {
    padding-top: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .project-img {
    padding-bottom: 5em;
  }
}
/**** Mobile *****/
@media (max-width: 960px) {
  .project-poster {
    padding-top: 3em;
    grid-template-columns: 1fr;
  }
  .project-img {
    width: 15em;
    margin: auto;
    padding-bottom: 5em;
  }

  .project-img > img {
    height: 25em;
    width: 15em;
  }

  .project-text {
    font-size: 1em;
    height: 15em;
    width: 15em;
    background-color: rgba(0, 0, 0, 0.212);
  }
  .project-title {
    font-size: 1.2em;
    text-align: center;
  }
  .project-describe {
    font-size: 0.8em;
    height: 13.8em;
    width: auto;
    padding: 0;
    overflow: scroll;
  }
  .project-dev {
    height: 10em;
    background-color: rgba(99, 94, 94, 0.925);
  }
  .project-dev img {
    width: 4em;
  }
}
